<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>fc</servlet-name>
		<servlet-class>controller.common.FrontController</servlet-class>
		<!-- FrontController를 fc로 이름 설정 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>fc</servlet-name>
		<url-pattern>*.do</url-pattern>
		<!-- .do 요청하게 되면 servlet-mapping에 의해 fc 이름으로 등록되어있는 FrontController로 이동 -->
	</servlet-mapping>
	<context-param>
	  <param-name>encoding</param-name>
	  <param-value>UTF-8</param-value>
	</context-param>
	<error-page>
	  <exception-type>java.lang.Throwable</exception-type>
	  <location>/error/error.jsp</location>
	</error-page>
	<error-page>
	  <error-code>404</error-code>
	  <location>/error/error404.jsp</location>
	</error-page>
</web-app>